USE [master]
GO
/****** Object:  Database [dw_prueba]    Script Date: 14/12/2020 21:55:47 ******/
CREATE DATABASE [dw_prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dw_prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dw_prueba.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dw_prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dw_prueba_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dw_prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dw_prueba]
GO
/****** Object:  Table [dbo].[D_CALLE]    Script Date: 14/12/2020 21:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CALLE](
	[id_calle] [nvarchar](50) NOT NULL,
	[nombre_calle] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_CALLE] PRIMARY KEY CLUSTERED 
(
	[id_calle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_TIEMPO]    Script Date: 14/12/2020 21:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TIEMPO](
	[id_tiempo] [nvarchar](50) NOT NULL,
	[mes] [nvarchar](50) NULL,
	[año] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[H_DAÑO]    Script Date: 14/12/2020 21:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_DAÑO](
	[id_daño] [int] IDENTITY(1,1) NOT NULL,
	[id_calle] [nvarchar](50) NULL,
	[id_tiempo] [nvarchar](50) NULL,
 CONSTRAINT [PK_H_DAÑO] PRIMARY KEY CLUSTERED 
(
	[id_daño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[D_TIEMPO]  WITH CHECK ADD  CONSTRAINT [FK_D_TIEMPO_D_TIEMPO] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[D_TIEMPO] ([id_tiempo])
GO
ALTER TABLE [dbo].[D_TIEMPO] CHECK CONSTRAINT [FK_D_TIEMPO_D_TIEMPO]
GO
ALTER TABLE [dbo].[H_DAÑO]  WITH CHECK ADD  CONSTRAINT [FK_H_DAÑO_D_CALLE] FOREIGN KEY([id_calle])
REFERENCES [dbo].[D_CALLE] ([id_calle])
GO
ALTER TABLE [dbo].[H_DAÑO] CHECK CONSTRAINT [FK_H_DAÑO_D_CALLE]
GO
ALTER TABLE [dbo].[H_DAÑO]  WITH CHECK ADD  CONSTRAINT [FK_H_DAÑO_D_TIEMPO] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[D_TIEMPO] ([id_tiempo])
GO
ALTER TABLE [dbo].[H_DAÑO] CHECK CONSTRAINT [FK_H_DAÑO_D_TIEMPO]
GO
USE [master]
GO
